.submitButton {
    background-color: #97baf5;
    border: none;
    outline: none;
    font-size: 1rem;
    color: white;
    font-weight: bold;
    transition: all 0.2s ease;
}

.submitButton:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 3px;
    background-color: #97baf5;
    color: white;
}

.form_register {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}