@tailwind base;
@tailwind components;
@tailwind utilities;

/* add the code bellow */
@layer utilities {

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}

@layer components {
    .ease-linear-transition {
        @apply transition-all duration-150 ease-linear
    }

    .hover-effect-topleft {
        @apply hover:shadow-xl hover:translate-x-[-2px] hover:translate-y-[-2px] ease-linear-transition
    }

    .btn-shape-rounded {
        @apply text-[0.9rem] text-[#fff] font-bold p-[0.2rem_1rem] bg-[#97baf5] rounded-xl
    }

    .btn-error-rounded {
        @apply text-[0.9rem] text-[#fff] font-bold p-[0.2rem_1rem] bg-[#fe6358] rounded-xl
    }

    .box-primary-gradientcolor {
        @apply bg-gradient-to-r from-[#6a85b6] to-[#97baf5]
    }

    .main-background {
        @apply bg-gradient-to-r from-[#6a85b6] to-[#bac8e0]
    }
}